# Q1 Discuss string slicing and provide examples.

## String slicing in Python is a way to get specific parts of a string by using start, end, and step values. Itâ€™s especially useful for text manipulation and data parsing.

In [ ]:
# example of string slicing
str1 = "hello world"
print(str1[0:5])

hello

## Syntax of String Slicing in Python
## substring = s[start : end : step]

In [ ]:
# example
str1 = "hello world"
print(str1[0:5:2])

hlo

# Slice From the Start
### By leaving out the start index, the range will start at the first character:

In [ ]:
str1[:6]

'hello '

# Slice To the End
## By leaving out the end index, the range will go to the end:

In [ ]:
str1[0:]

'hello world'

# Negative Indexing in slicing
## Negative indexing is useful for accessing elements from the end of the String. The last element has an index of -1, the second last element -2, and so on.

In [ ]:
str1

'hello world'

In [ ]:
str1[-1:-6:-1]

'dlrow'

In [ ]:
str1[::-1]#reverse

'dlrow olleh'

In [ ]:
str1[-4:]#Characters from index -4 to the end

'orld'

In [ ]:
str1[:-4]# Characters from the start up to index -4 (excluding -3)

'hello w'

In [ ]:
str1[-5:-2]#Characters from index -5 to -2 (excluding -2)

'wor'

# Q2 Explain the key features of lists in Python.

## In Python, a list is a built-in data structure that is used to store an ordered collection of items. Lists are mutable, meaning that their contents can be changed after the list has been created. They can hold a various of data types, including integers, floats, strings,allow duplicate and even other lists.

# Heterogeneous
## A list can contain elements of different types, such as integers, strings, floats, or even other lists.

In [ ]:

list1 = [1,2.5,3,4,5,"cat","dog"]
print(list1)

[1, 2.5, 3, 4, 5, 'cat', 'dog']

# Accessing List Elements
## Elements in a list can be accessed using indexing. Python indexes start at 0, so a[0] will access the first element, while negative indexing allows us to access elements from the end of the list. Like index -1 represents the last elements of list.

In [ ]:
a1 = [1,2,3,4,5,6,7,8,9]
print(a1[0])
print(a1[-1])

1
9

# Adding Elements into List
## We can add elements to a list using the following methods:

## append(): Adds an element at the end of the list.
## extend(): Adds multiple elements to the end of the list.
## insert(): Adds an element at a specific position.

In [ ]:
a2 = [1,2,3,4,5,6,7,8,9]
a2.append(10)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a3 = ["apple","banana","orange"]
a3.extend(a2)
print(a3)

['apple', 'banana', 'orange', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a2.insert(2,11)
print(a2)

[1, 2, 11, 3, 4, 5, 6, 7, 8, 9, 10]

# Updating Elements into List
## We can change the value of an element by accessing it using its index.

In [ ]:
name = ["priya","ashu","hemant"]
name[1] = "ram"
print(name)

['priya', 'ram', 'hemant']

# Removing Elements from List
## We can remove elements from a list using:

## remove(): Removes the first occurrence of an element.
## pop(): Removes the element at a specific index or the last element if no index is specified.
## del statement: Deletes an element at a specified index.

In [ ]:
a3 = ["apple","banana","orange"]
a3.remove("banana")
print(a3)

['apple', 'orange']

In [ ]:
a3.pop(0)
print(a3)

['orange']

In [ ]:
list2 = [1,10,10,20]
del list2[0]
print(list2)

[10, 10, 20]

# Iterable
## Lists are iterable, meaning you can loop through them using a for loop or other iteration techniques.

In [ ]:
for i in list2:
  print(i)

10
10
20

# List Comprehensions
## Python provides a concise way to create lists using list comprehensions, which allow you to construct new lists by applying expressions and conditions.

In [ ]:
list3 = [x**2 for x in list2]

In [ ]:
list3

[100, 100, 400]

In [ ]:
name1 = ["sanjay_sharma","nidhi_pandey","priya_sharma"]
x = [name1 for name1 in name1 if name1.endswith("_sharma") ]

In [ ]:
x

['sanjay_sharma', 'priya_sharma']

# Nested Lists and Multidimensional Lists
## A nested list is a list within another list, which is useful for representing matrices or tables. We can access nested elements by chaining indexes.

In [ ]:
lis = [[10,10,20,50,],[1,2,3,4,],[5,4,5]]
lis[0][1]

10

# Q3 Describe how to access, modify, and delete elements in a list with examples.

# 1. Accessing Elements in a List
## You can access individual elements in a list by using their index. List indices start at 0, meaning the first element is at index 0, the second at index 1, and so on.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0])
print(my_list[2])

1
3

In [ ]:
student_name= ["harry","mukesh","sachin"]
print(student_name[0])

harry

# 2. Modifying Elements in a List
## You can modify an element by assigning a new value to an index.

In [ ]:
student_name= ["harry","mukesh","sachin"]
student_name[1] = "ram"
print(student_name)

['harry', 'ram', 'sachin']

In [ ]:
student_name [-1] = "priya"
print(student_name)

['harry', 'ram', 'priya']

# 3. Deleting Elements from a List
## You can delete elements in a list using several methods:

## Using del: Removes an element by index.
## Using .remove(): Removes the first occurrence of a specific value.
## Using .pop(): Removes and returns an element by index (default is the last element).
## Using clear(): Removes all elements in the list.

In [ ]:
shopping_list = ["apple","banana","orange","mango"]
del shopping_list[0]
print(shopping_list)

['banana', 'orange', 'mango']

In [ ]:
shopping_list.remove("banana")
print(shopping_list)

['orange', 'mango']

In [ ]:
shopping_list.pop(0)
print(shopping_list)

['mango']

In [ ]:
shopping_list.clear()
print(shopping_list)

[]

# Q4 Compare and contrast tuples and lists with examples

## Both tuples and lists are data structures in Python that allow you to store a collection of items. However, they differ in several key aspects, such as mutability, syntax, and use cases.

# 1. Mutability
## 1.Lists are mutable. This means you can modify, add, or remove elements after the list is created.

## 2.Tuples are immutable. Once a tuple is created, you cannot change, add, or remove elements.

In [ ]:
# list example
list1 = [1,2,3,4,5]
list1[0] = 10
print(list1)

[10, 2, 3, 4, 5]

In [ ]:
# tuple example
tuple1 = (1,2,3,4,5)
tuple1[0] = 10
print(tuple1)

TypeError: 'tuple' object does not support item assignment

# 2. Syntax
## Lists are created using square brackets ([]).
## Tuples are created using parentheses (()).

In [ ]:
list1 = [1,5,8,7]
tuple1 = (1,5,8,7)

# 3. Methods/Operations
## Lists have more built-in methods, like append(), remove(), insert(), pop(), extend(), and more because they are mutable.

## Tuples have fewer built-in methods, primarily count() and index().

In [ ]:
list1 = [1,5,8,7]
list1.append(10)
print(list1)

[1, 5, 8, 7, 10]

In [ ]:
tuple1 = (1,5,8,7)
print(tuple1.count(1))

1

# 4. Use Cases
## Lists are used when you need a mutable collection of items, such as adding, removing, or modifying elements. They're ideal for dynamic collections.

# Tuples are used when you need an immutable collection. This is useful for:

## Storing data that shouldn't change, like coordinates or configuration settings.

# Q5 Describe the key features of sets and provide examples of their use.


## In Python, a set is an unordered collection of unique elements. Sets are one of the built-in data types in Python and are commonly used to store multiple items in a single variable.

# Key Features of Sets
##> Unordered: Sets are unordered collections, meaning that the elements do not have a specific order. When you iterate over a set, the elements may appear in a different order each time.

## >Unique Elements: A set automatically removes duplicate elements. If you attempt to add a duplicate value to a set, it will not be added again.

## >Mutable: Sets are mutable, which means you can add or remove elements after the set is created.

## >No Indexing: Since sets are unordered, you cannot access their elements using indices like lists or tuples. You must iterate over them or use set operations.

## >Supports Set Operations: Sets support mathematical operations like union, intersection, difference, and symmetric difference. This makes them very useful for tasks involving comparisons or set theory operations.

In [ ]:
# Creating Sets
# Using Curly Braces ({})
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

# Key Set Operations
## Adding Elements: Use the add() method to add a single element.

In [ ]:
set1.add(10)
print(set1)

{1, 2, 3, 4, 5, 10}

## Removing Elements: Use remove() to remove an element (raises KeyError if the element is not found), or discard() (does not raise an error if the element is not found).

In [ ]:
# remove element
set1.remove(16)
print(set1)

KeyError: 16

In [ ]:
set1.discard(16)
print(set1)

{1, 2, 3, 4, 5}

## Set Union: Combine two sets using the | operator or the union() method.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
set3 = set1 | set2
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Set Intersection: Find common elements using the & operator or the intersection() method.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1 & set2
print(set3)

{4, 5}

## Set Difference: Find elements in one set but not in another using the - operator or the difference() method.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1 - set2
print(set3)

{1, 2, 3}

## Set Symmetric Difference: Find elements that are in either of the sets but not both using the ^ operator or the symmetric_difference() method.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1 ^ set2
print(set3)

{1, 2, 3, 6, 7, 8}

# Q6 Discuss the use cases of tuples and sets in Python programming

# Use Cases of Sets

## Removing Duplicates from a List: If you have a list with duplicates and want to remove them, converting it to a set automatically eliminates duplicates.

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
unique_list = list(unique_set)
print(unique_list)

[1, 2, 3, 4, 5]

## Checking for Common Elements Between Two Lists: Sets are perfect for finding common elements between two lists, as sets support efficient intersection operations.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
list3 = set(list1) & set(list2)
print(list3)

{4, 5}

## Set Membership: You can check if an element exists in a set using the in keyword, which is very fast for sets.

In [ ]:
set1 = {1,2,3,4}
print(3 in set1)

True

# Use Cases of Tuples
Immutable Data:

## If you have a collection of values that should not be modified after creation, a tuple is a perfect choice.

# Data Integrity:

## Tuples are often used to represent records or rows in a database where you want to ensure that the data cannot be changed by accident.

# Key for Dictionaries:

## Because tuples are immutable, they can be used as keys in dictionaries, unlike lists, which are mutable and cannot be used as dictionary keys.

# Data Packing/Unpacking:

## Tuples are useful for packing and unpacking values. This is common in scenarios like working with iterables, when you want to unpack data in loops or when handling grouped data.

# Q7 Describe how to add, modify, and delete items in a dictionary with examples.

# 1. Adding Items to a Dictionary
## You can add a new item to a dictionary by specifying a new key and assigning a value to it. If the key already exists, the value will be updated.

In [1]:
my_dict = {"name": "mukki", "age": 30}
my_dict["city"] = "delhi"
print(my_dict)

{'name': 'mukki', 'age': 30, 'city': 'delhi'}

# 2. Modifying Items in a Dictionary
## To modify an existing item, use the key to access the item and assign a new value to it. If the key doesn't exist, a new key-value pair will be added.

In [2]:
my_dict = {"name": "mukki", "age": 30}
my_dict["age"] = 35
print(my_dict)

{'name': 'mukki', 'age': 35}

# 3. Deleting Items from a Dictionary
You can delete items from a dictionary using one of the following methods:

## del: Deletes a key-value pair by specifying the key.
## .pop(): Removes the item with the specified key and returns its value.

## .clear(): Removes all key-value pairs from the dictionary.

In [3]:
del my_dict["age"]
print(my_dict)

{'name': 'mukki'}

In [8]:
dict2  = {"name":"riya","age":25}
dict2.pop("name")
print(dict2)

{'age': 25}

In [9]:
dict2.clear()

In [10]:
dict2

{}

# Q8Discuss the importance of dictionary keys being immutable and provide examples

## In Python, dictionary keys must be immutable, meaning their values cannot be changed after they are created. This requirement is crucial for several reasons, particularly for the integrity and performance of dictionaries.

# 1. Ensuring Hashing Consistency
## Dictionaries in Python are implemented as hash tables, where each key is associated with a hash value that determines its position in memory. When a key is immutable, its hash value remains constant throughout its lifetime. This consistency allows for fast and reliable lookups, insertions, and deletions.

## If dictionary keys were mutable, their hash values could change during the course of using the dictionary, which would disrupt the hash table. In such cases, the dictionary would no longer be able to find or properly update the associated values, leading to unpredictable behavior.

In [12]:
# Using a tuple as a dictionary key (immutable)
my_dict = {}
my_dict[(1, 2, 3)] = "value"  # This works because tuples are immutable
print(my_dict)  # Output: {(1, 2, 3): 'value'}

{(1, 2, 3): 'value'}

# 2. Optimizing Performance
## Because immutable objects have a fixed, stable hash value, they are more efficient for use as dictionary keys. The hash computation is done once when the key is first used, and this hash value can be used for quick lookups. If keys were mutable, the hash would need to be recalculated after any change, which would slow down the dictionary's performance and could result in a less optimal hash table structure.

# 3. Maintaining Dictionary Integrity
## Since dictionary keys are used to access values efficiently, it is essential that the keys' behavior remains predictable. If a mutable object could be used as a key, modifying it could lead to key-value mismatches, causing errors or unexpected results when accessing or modifying dictionary entries.

In [13]:
# Dictionary with mutable object as key
my_dict = {}
key = [1, 2, 3]
my_dict[key] = "value"


key.append(4)

# Accessing the dictionary after modifying the key
print(my_dict)  # Output might be unexpected or lead to errors

TypeError: unhashable type: 'list'